@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Custom Utilities that can't be easily done with utility classes alone or for frequent reuse */
@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-white/60;
  }
}